@import 'antd/es/style/themes/variable.less';

@root-entry-name: default;
@ant-prefix: lucky-bird-ui;

@primary-color: var(--console-primary-color, #1890ff);

// ----- 文本颜色 -----
@text-primary-color: rgba(0, 0, 0, 0.85);
@text-basic-color: rgba(0, 0, 0, 0.65);
@text-shallow-color: rgba(0, 0, 0, 0.45);

// ----- 图标色 -----
@icon-basic-color: rgba(0, 0, 0, 0.65);
@icon-disabled-color: #ccc;
